div{
    position: relative;
    left: 100px;
    top : 1px;

    /* ************************* */

    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    color:white;
    border: 1px solid black;

}